<!DOCTYPE html>
<html>
<head>
	<title>Subengine by CoastDigitalGroup</title>
	<%= stylesheet_link_tag    "subengine/application", media: "all" %>
	<%= javascript_include_tag "subengine/application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |k,v| %>
		<div class='flash <%= k %>'><%= v %></div>
	<% end %>
	<%= yield %>
</body>
</html>