<div class="container">    
	<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">Send unlock Instructions</div>
			</div>     
			<div style="padding-top:30px" class="panel-body" >
				<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
					<%= f.error_notification %>
					<%= f.full_error :unlock_token %>
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						<%= f.input_field :email, required: true, autofocus: true, :class => "form-control", :placeholder => "Email" %>
					</div>
				  <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls">
              <%= f.button :submit, "Resend Unlock Instructions", :class => "btn btn-default" %>
            </div>
          </div>
					<div id="loginborder">
						<%= render "devise/shared/links" %>
					</div>    
				<% end %>
			</div>
		</div>
	</div>
</div>
