<div class="container">
	<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">Change Your Password</div>
			</div>
			<div style="padding-top:30px" class="panel-body">
				<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-vertical multiple_tags', role: 'form' }) do |f| %>
					<%= f.error_notification %>
          <%= f.full_error :reset_password_token %>
					<%= render 'shared/validation', object: f.object %>
					<%= f.input :reset_password_token, as: :hidden %>
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
							<%= f.input_field :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), :class => "form-control", :placeholder => "New Password" %>
						</div>
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
							<%= f.input_field :password_confirmation, label: "Confirm your new password", required: true, :class => "form-control", :placeholder => "Confirm Password" %>
						</div>
						<div style="margin-top:10px" class="form-group">
								<%= f.button :submit, "Change my password", :class => "btn btn-primary" %>
						</div>
						<div id="loginborder">
							<%= render "devise/shared/links" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
