<%- if user_signed_in? %>
	<div class="container">    
		<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title">Create Account</div>
				</div>     
				<div style="padding-top:30px" class="panel-body" >
					<%= simple_form_for @account, html: {class: 'form-horizontal multiple_tags', role: 'form'} do |account| %>
						<%= account.error_notification %>
						<%= render 'shared/validation', object: account.object %>
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="fa fa-users"></i></span>
							<%= account.input_field :name, required: true, autofocus: true, :class => "form-control", :placeholder => "Account Name" %>
						</div>
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="fa fa-link"></i></span>
							<%= account.input_field :subdomain, required: true, :class => "form-control", :placeholder => "Subdomain" %>
						</div>
						<div style="margin-top:10px" class="form-group">
							<div class="col-lg-offset-4 col-lg-8"><%= account.submit :class => "btn btn-primary" %></div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<%- else %>
	<div class="container">    
		<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title">Create Account</div>
				</div>     
				<div style="padding-top:30px" class="panel-body" >
					<%= simple_form_for @account, html: {class: 'form-horizontal multiple_tags', role: 'form'} do |account| %>
						<%= account.error_notification %>
						<%= render 'shared/validation', object: account.object %>
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="fa fa-users"></i></span>
							<%= account.input_field :name, label: 'Account Name', :class => "form-control", :placeholder => "Account Name"  %>
						</div>
						<div style="margin-bottom: 25px" class="input-group">
							<%= account.simple_fields_for :owner do |owner| %>
						</div>
						<%= render 'subengine/account/users/form', :user => owner %>
					<% end %>
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class="fa fa-link"></i></span>
						<%= account.input_field :subdomain, required: true, :class => "form-control", :placeholder => "Subdomain" %>
					</div>
				<div style="margin-top:10px" class="form-group">
					<div class="col-lg-offset-4 col-lg-8"><%= account.submit class: 'btn btn-default block-center' %></div>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
