<h2>Sign Up</h2>
<%= form_for(@account) do |account| %>
	<p> 
		<%= account.label :name %><br> 
		<%= account.text_field :name %>
	</p>
<<<<<<< HEAD
	<p> 
    <%= account.label :subdomain %><br> 
    <%= account.text_field :subdomain %>
	</p>
=======
>>>>>>> 6df417d... Adjusted accounts for to register through devise users. Spec test passed.
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

		<div><%= f.label :email %><br />
		<%= f.email_field :email %></div>

		<div><%= f.label :password %><br />
		<%= f.password_field :password %></div>

		<div><%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %></div>
	<% end %>
	<%= account.submit %>
<% end %>